extends layout

block content
    h1 About Us
    p
      | Praesent finibus nunc vitae porttitor varius. In accumsan aliquam urna, non aliquet libero rhoncus at. In pharetra erat nec ultricies porta
    p
      | Praesent finibus nunc vitae porttitor varius. In accumsan aliquam urna, non aliquet libero rhoncus at. In pharetra erat nec ultricies porta